#deny from all

RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php

RewriteRule ^site/about(.*)$ about$1 [R=301,NC,L]
RewriteRule ^site/contact(.*)$ contact$1 [R=301,NC,L]